@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Quicksand&display=swap');

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}


.srOnly:not(:focus):not(:active) {border: 0;clip: rect(00 0 0);clip-path: inset(100%); height: 1px; margin: -1px;overflow: hidden;padding: 0; position: absolute;white-space: nowrap; width: 1px;}


html {
    font-size: 125%;
}

body {
    background-color: #333333;
    font-family: 'Quicksand', sans-serif;
}

footer {
    bottom: 0;
    color: #fff;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 350px;
}

/* =========================
ScrollBar
============================*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00ffb8;
  }

  ::-webkit-scrollbar-thumb:hover {
    cursor:grab;
  }

/* =========================
Main/Message Area
============================*/
.app {
    background-color: #333333;
    display: flex;
    height: 100vh; 
    justify-content: space-between;
}

.appLogin {
    flex-direction: column;
}

.deleteButton {
    align-self: flex-end;
    background-color: #00ffb8;
    border: none;
    border-radius: 50%;
    color:#000;

}

.deleteConfirm {
    align-items: center;
    background-color: #454545;
    border: 1px solid #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    max-width: 500px;
    position: absolute;
    right: 0;
    top: 25%;
    z-index: 5;
}

.deleteConfirm p {
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.deleteConfirm button {
    background-color: #00ffb8;
    border: none;
    border-radius: 0.7rem;
    height: 2rem;
    width: 5rem;
}

.hidden {
    display: none;
}

.messagingSection {
    height: 100vh;
    justify-self: end;
    width: 85vw;
}

.message {
    border: 3px solid #00ffb8;
    border-radius: 0 1rem 1rem;
    color: #fff;
    display: flex;
    flex: 0 1 25%;
    flex-direction: column;
    margin: 1rem;
    padding: 1.5rem;
    width: 50%;
}


.message:nth-last-of-type(1n){
    scroll-snap-align: start;
}

.message h2 {
    font-size: 1rem;
}

.message h2 span {
    color: #a8a8a8;
    font-weight: 400;
    margin: 0 0.5rem;
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-self: end;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
}

.right {
    align-self: flex-end;
    border-radius: 1rem 0 1rem 1rem;
}

.userMessageContainer {
    border-top: 0.1rem solid #00ffb8;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.userMessageContainer form {
    width: 100%;
}

/* =========================
Header
============================*/
h1 {
    color: #00ffb8;
    font-family: 'Ephesis', cursive;
    font-size: 5rem;
    margin: 0;
    padding: 1.5rem;
    text-shadow: 1px 1px #000;
}

header {
    background-color: #454545;
    box-shadow: 0 0.2rem 0.2rem #212121;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    min-width: max-content;
    width: 15vw;
}

.shift {
    height: unset;
    margin: 0;
    position: static;
    width: unset;
}

.channelSelect {
    background-color: #454545;
    border: 3px solid #fff;
    border-radius: 1rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 0 1rem;
}


.headerWrapper {
    align-items: center;
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;

}

.options {
    align-items:baseline;
    display: flex;
}

.options form, .options label {
    margin-right: 0.5rem;
}
.options label {
    color: #fff;
    font-weight: 600;
}
.logoutBtn {
    background-color: #fff;
    border: 1px solid #acacac;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
}

.logoutBtn:hover, .logoutBtn:focus-visible, .logoutBtn:focus {
    border: 2px solid #949494;     
}

/* =========================
Login Form 
============================*/
input:focus-visible {
    outline: 3px solid #00ffb8;
}

.loginWrapper {
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto 1rem;
    max-width: 500px;
    width: 90%;
}

.formContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.loginForm {
    display: grid;
    text-align: center;
}

.loginForm input {
    border: 1px solid #000;
    border-radius: 1rem;
    padding:0.3rem  0.5rem;
}



.loginForm button {
    background-color: #00ffb8;
    border: 1px solid #cbcbcb;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 0.5rem;
}

.loginForm button:hover, .loginForm button:focus, .loginForm button:focus-visible {
    border: 2px solid #949494;        
}


/* =========================
Chat Input
============================*/

.userInput {
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    width: 100%;
}

.chatForm {
    align-items: center;
    display: flex;
}

.chatForm textarea {
    border: none;
    margin: 0.5rem;
    padding: 1rem;
    padding-right: 3rem;
    resize: none;
    width: calc(100% - 2rem);
}

.chatForm textarea:focus, .chatForm textarea:focus-within  {
    height: 7.5rem;
}
.chatForm button {
    background-color: #00ffb700;
    border: none;
    font-size: 1.5rem;
}
.emojiButton {
    color: #00ffb8;
    margin-right: 0.5rem;
}

.visible {
    bottom: 175px;
    display: block;
    position: absolute
}

.sendButton {
    color: #00ffb8;
    position: absolute;
    right: 2rem;
}

/* =========================
Media Queries
============================*/

@media (max-width: 767px) {
    .emojiButton{
        display: none;
    }

    h1 {
        font-size: 4rem;
        padding: 0;
    }
}

@media (max-width: 500px) {
    .headerWrapper {
        margin-left: 0;
    }

    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 374px) {

    h1 {
        font-size: 2rem;
    }

    .options {
        align-items: center;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }
}