.message {
    background-color: white;
    border-radius: 0 20px 20px;
    padding: 30px;
    width: 25%;
}
.messagesContainer {
    display: flex;
    flex: 0 1 75%;
    flex-direction: column;
    margin: 0 auto;
    overflow: auto;
    width: 90%;
}

h1 {
    background-color: #009aff;
    margin: 0;
    padding: 30px;
    text-align: center;
}

.App {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.userMessageContainer {
    background-color: #00a6ff;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.userMessageContainer form {
    width: 100%;
}

.userMessageContainer textArea {
    border: none;
    border-radius: 15px;
    height: 150px;
    padding: 10px;
    resize: none;
    width: calc(100% - 20px);
}
